include head.pug
include header.pug
include footer.pug
    
block variables
    
doctype html
html(lang='ru')
    +dev_head(page_title || '', scripts || [])

    body

        +header()

        main
            block content

        +footer()
